  
.main-footer {
    color: white;
    background-color: blur;
    padding-top: 3em;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

  a:link, a:visited 
  {
      color: #e2e2e2;
  }
  a:active {
    color: rgba(50, 50, 90, 0.884);
  }
  a:hover{
      color: cyan;
      text-shadow:5px 5px 8px #ffffff;
  }